@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container{
    width: 300px;
    height: 450px;
    /* border: 1px solid black; */
    color: white;
    

}
.container-1{
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: .8rem;
    border-top-left-radius: .8rem;
}
.container-2{
    background-color: hsl(184, 100%, 22%);
}
.container-3{
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: .8rem;
    border-top-right-radius: .8rem;
}
.content{
    margin: 2rem 2rem;
}
h2{
    margin: 2rem auto;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Big Shoulders Display";
}
p{
    line-height: 1.5rem;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    font-family: "Lexend Deca";
}
button{
    font-size: 1rem;
    margin-top: 4rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: white;
    cursor: pointer;
    
}
.button-1{
    color: hsl(31, 77%, 52%);
}
.button-1:hover{
    color: white;
    background-color: hsl(31, 77%, 52%);
    border: 1px solid white;
}
.button-2{
    color: hsl(184, 100%, 22%);  
}
.button-2:hover{
    color: white;
    background-color: hsl(184, 100%, 22%);
    border: 1px solid white;
}
.button-3{
    color: hsl(179, 100%, 13%);
}
.button-3:hover{
    color: white;
    background-color: hsl(179, 100%, 13%);
    border: 1px solid white;
}




@media only screen and (max-width: 450px){

    body{
        display: flex;
        flex-direction: column;
    }
    .container-1{
        border-bottom-left-radius: 0;
        border-top-right-radius: .8rem;
    }
    .container-3{
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.8rem;
    }
}